<%- include('../_layouts/adminheader') %>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="p-20">
                        <div class="">
                            <form method="POST" action="/admin/categories/edit-category/<%= id %>">
                                <div class="form-group m-b-20">
                                    <label >Title</label>
                                    <input type="text" class="form-control" name="title" value="<%= title %>"  placeholder="Enter title">
                                </div>
                                <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light">Discard</button>
                            </form>
                        </div>
                    </div> <!-- end p-20 -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->


<%- include('../_layouts/adminfooter') %>