<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                © 2018 OranageLala.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

</div> <!-- end container -->
</div>
<!-- end wrapper -->


<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/plugins/switchery/switchery.min.js"></script>

<!--Summernote js-->
<script src="/plugins/summernote/summernote.min.js"></script>
<!-- Select 2 -->
<script src="/plugins/select2/js/select2.min.js"></script>
<!-- Jquery filer js -->
<script src="/plugins/jquery.filer/js/jquery.filer.min.js"></script>

<!-- page specific js -->
<script src="/assets/pages/jquery.blog-add.init.js"></script>

<!-- App js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<!-- <script src="/assets/pages/jquery.datatables.editable.init.js"></script> -->


<script>

    jQuery(document).ready(function () {

        $('.summernote').summernote({
            height: 240,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false                 // set focus to editable area after initializing summernote
        });
        // Select2
        $(".select2").select2();

        $(".select2-limiting").select2({
            maximumSelectionLength: 2
        });
    });
</script>


</body>

</html>